@import "tailwindcss";

@theme {
  --color-brand-primary: #E29A2C;
  --color-brand-secondary: #FF8800;
  --color-brand-dark: #112113;
  --color-brand-light: #F7F2FA;
  --color-brand-border: #6C5B52;
  --color-brand-tan: #F5DED2;
  --color-brand-footer: #112113;
  
  --font-display: var(--font-inter);
  --font-body: var(--font-cormorant);
  --font-nav: var(--font-inter);
  --font-button: var(--font-inter);
}

:root {
  --background: #ffffff;
  --foreground: #000000;
}

body {
  background-color: var(--background);
  color: var(--foreground);
}

h1, h2, h3, h4, h5, h6, .font-display {
  -webkit-text-stroke: 0.7px currentColor;
}
